<div>
<h1>{{pokemon.name}} <img src="{{pokemon.sprites.front_default}}" alt="{{pokemon.name}}"> </h1>


	
</div>

<div class="col-md-12">
	<h4>Abilities</h4>
	<div class="col-md-4">
		<ul>
			<li ng-repeat="ab in pokemon.abilities">
				<p>{{ab.ability.name}}</p>
			</li>
		</ul>
	</div>
	<h4>Stats</h4>
	<div class="col-md-4">
		<ul>
			<li ng-repeat="st in pokemon.stats">
				<p>{{st.stat.name}} - {{st.base_stat}}</p>
			</li>
		</ul>
	</div>	
	<h4> Moves </h4>
	<div class="col-md-4">
		<ul>
			<li ng-repeat="move in pokemon.moves">
				<p>{{move.move.name}}</p>
			</li>
		</ul>
	</div>
</div>